name: Upload Python Package

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync
          uv tool install ds-run

      - name: Build package
        run: ds build

      - name: Publish package
        run: uv publish
